body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.titulo-decorado {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}

section {
    padding: 20px;
    text-align: center;
}

.habitacion {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habitacion img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 5px;
}

.habitacion h3 {
    margin-top: 0;
}

.precio {
    text-align: right;
}

.precio p {
    margin: 5px 0;
}

.precio button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#contacto {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

#contacto p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}